POLYGON_AMOY_PRIVATE_KEY=0xYourFull64HexPrivateKeyHere
POLYGON_AMOY_RPC_URL=https://rpc-amoy.polygon.technology/
POLYGONSCAN_API_KEY=YourPolygonscanApiKeyHere
NEXT_PUBLIC_CHAIN_ID=80002
NEXT_PUBLIC_CONTRACT_ADDRESS=<fill after deploy>
NEXT_PUBLIC_OWNER_ADDRESS=0xYourOwnerAddressHere